<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta http-equiv="Pragma" content="no-cache"></meta>
<meta http-equiv="Cache-Control" content="no-cache"></meta>
<meta http-equiv="Expires" content="sat, 01 Dec 2001 00:00:00 GMT"></meta>

<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" 
           th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
           
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.css" 
           th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet" />                                         
           
<link href="css/style.css" th:href="@{css/style.css}" rel="stylesheet" />

<title>WongShitong's Library|Books</title>
</head>
<body>
    
    <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container-fluid">
			        <div class="navbar-header">
			          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			          </button>
			          <a class="navbar-brand" th:href="@{/}">
	                    <img th:src="@{images/loop.png}" />
	                </a>
			        </div> 
			
			        <!-- Collect the nav links, forms, and other content for toggling -->
			        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			          <ul class="nav navbar-nav">
			            <li>
			            	<a href="/home" th:href="@{/home}">Home</a>
			            </li>
			            <li >
			            	<a href="/memhome" th:href="@{/memhome}">Member</a>
			            </li>
			            <li >
			            	<a href="/" th:href="@{/}">Book</a>
			            </li>
			            <li >
			            	<a href="/" th:href="@{/}">Reserve</a>
			            </li>
			            <li class="active">
			            	<a href="/adminhome" th:href="@{/adminhome}">Admin</a>
			            </li>
			          </ul>
			
			          <ul class="nav navbar-nav navbar-right">
			        		<li><a href="/login" th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			          </ul>
			          
			        </div>
			        <!-- /.navbar-collapse -->
			      </div>
			      <!-- /.container-fluid -->    
             </nav>
	
	<div class="container">
            <h2> books </h2>
            <table class="table table-striped">
            
                       <thead>

							<tr>
								<th class="column1">Book Id</th>
								<th class="column2">Name</th>
								<th class="column3">Copy No</th>
								<th class="column4">Author</th>
								<th class="column5">Print Year</th>
								<th class="column6">Reserve No</th>
							</tr>
						</thead>
						
						<tbody>

							<tr th:each="list : ${m}">

								<td th:text="${list.bookId}" class="column1">Book ID</td>
								<td th:text="${list.name}" class="column2">Name</td>
								<td th:text="${list.copyNo}" class="column3">Copy No</td>
								<td th:text="${list.author}" class="column4">Author</td>
								<td th:text="${list.printYear}" class="column5">Print Year</td>
								<td th:text="${list.reserveNo}" class="column6">Reserve No</td>

							</tr>
                     </tbody>
                 
            </table>  
           </div>  
        
</body>
</html>